@model IEnumerable<BudgetAmazon.ViewModel.ShoppingViewModel>
@{
    ViewData["Title"] = "Search Results";
}
<script type="text/javascript">
    function AddToCart(item) {
        var itemId = $(item).attr("itemid");
        var formData = new FormData();
        formData.append("ItemId", itemId);

        $.ajax({
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            url: '/Shopping/Index',
            success: function (data) {
                if (data.Success) {
                    $("#cartItem").text("Cart(" + data.Counter + ")");
                }
            },
            error: function () {
                alert("There is some problem.");
            }
        });
    }
</script>
<h1>Search Results:</h1>
@{
    if (ViewBag.Search == null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemName)
                    </th>
                    <th>Price</th>
                    <th>Add to Cart</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <img src="@Url.Content(@item.ImagePath)" width="150px" height="150px" />
                    </td>
                    <td>
                        @item.ItemName
                    </td>
                    <td>@String.Format("{0:C}", item.ItemPrice)</td>
                    <td>
                        <div class="col-md-4" style="text-align: right; margin-bottom: 10px; border-top: 2px solid maroon; padding: 2px">
                            <input type="button" name="AddToCart" value="Add to Cart" class="btn btn-primary" itemid="@item.ItemId" id="btnAddToCart" onclick="AddToCart(this)" />
                        </div>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4>Sorry, we could not find any results matching "@ViewBag.Search"</h4>
        <br />
        <h3>Search Tips</h3>
        <ul>
            <li>
                Check your spelling and try again
            </li>
            <li>
                Try a similar but different search term
            </li>
            <li>
                Keep your search terms simple
            </li>
        </ul>
    }
}

